.notif-icon {
  cursor: pointer;
  position: relative;
  font-size: 20px;
}

.badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background: red;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
}